:root {
  --color-para: #F7E9B8;
  --color-menu: #427205;
}

::-webkit-scrollbar {
  width: 0.8rem;
}

::-webkit-scrollbar-track {
  background-color: #FFA80F;
  border-radius: 0.8rem;
}
::-webkit-scrollbar-thumb {
  background-color: #FFEC4B;
  border-radius: 10px;
}

:root {
  --gradient-color-1: #d0fc1f;
  --gradient-color-2: #427205;
  --color-text-header: #F7E9B8;
  --color-para: #F7E9B8;

  --btn-width: 64px;
  --btn-height: 64px;
  --btn-scale: 1;
  --btn-margin-left: 10px;
  --menu-w: calc(var(--btn-width) + 2 * var(--btn-margin-left));
  --menu-left: 100px;
  --menu-top: 0px;
  --menu-gap: 10px;

  --font-size: 40px;
  --border-iframe: 20px;
  --margin-h-iframe: 50px;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  touch-action: none;
  -ms-touch-action: none;
}

html {
  
  position: fixed;
  width: 100%;
  height: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto; 
  background: linear-gradient(#F7E9B8,#FFEC4B );
}

body {
  position: fixed;
  width: 100%;
  height: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: auto;
  margin: 0 auto;
}

main {
  width: 100%;
  height: auto;
  margin: 0 0;
}

main:fullscreen {
  position: fixed;
  width: 100%;
  height: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

#infodiv {
  flex-direction: column;
  align-items: center;
  justify-items: center;
  position: absolute;
  /* margin: 0 var(--margin-h-iframe); */
  margin: 0 10%;
  z-index: 100;
  width: 100%;
  height: 80%;
  display: none;
  background: var(--color-para);
  font-size: var(--font-size);
}

#infodiv.show {
  display: flex;
  /* width: 100%;
  height: 80%; */
  border: var(--border-iframe) groove black;
}

/* .iframe {
  display: block;
  border: var(--border-iframe) groove black;
} */

@keyframes menuShow {
  from {
    opacity: 0;
  }
  to {
    opacity: 100%;
  }  
}

@keyframes menuHide {
  from {
    height: calc(var(--btn-height) * 2 + var(--menu-gap));
    opacity: 100%;
  }
  to {
    height: 0;
    opacity: 0;
  }  
}

@keyframes buttonAnimationShow {
  from {
    height: 0;
    opacity: 0;
  }
  to {
    height: var(--btn-height);
    opacity: 100%;
  }  
}

@keyframes buttonAnimationHide {
  from {
   /*  width: var(--btn-width); */
    height: var(--btn-height);
    opacity: 100%;
  }
  to {
    width: 0;
    height: 0;
    opacity: 0%;
  }  
}

.floating-menu {
  position: fixed;
  top: var(--menu-top);
  left: var(--menu-left);
 /*  width: calc(var(--btn-width) + 2 * var(--btn-margin-left)); */
  width: calc(var(--btn-width) * 2 + 2* var(--menu-gap));
  /* height: calc(var(--btn-height) * 1.5); */
  height: var(--btn-height);

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -webkit-flex-direction: column;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  flex-direction: row;

  -webkit-colum-gap: var(--menu-gap);
  column-gap: var(--menu-gap);

  background: transparent;

  z-index: 200;
  opacity: 0;
  visibility: hidden;
}

/*supress default touch action like double-tap zoom*/

/* .floating-menu > img { 
  -ms-touch-action: none;
  touch-action: none;
} */

.floating-menu.show {
  animation-name: menuShow;
  animation-duration: 2s;
  opacity: 100%;
  visibility: visible;
}

.floating-menu.show img {
  display: block;
  opacity: 90%;
}

.floating-menu.hide {
  animation-name: menuHide;
  animation-duration: 1s;
 /*  visibility: hidden; */
}

#btn-4 {
  width: 10vw;
  height: 4vh;
  background: linear-gradient( #FFEC4B,#FFA80F,#FFEC4B);
  font-size: 1rem;
  border-radius: 2vh;
  border: 0.2rem solid black;
  user-select: none;
  padding-left: 4vw;
}


#btn-1, #btn-2, #btn-3 {  
  width: var(--btn-width);
  height: var(--btn-height);
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;

  display: flex;
  flex: 1 1 auto;
  -webkit-box-flex: 1 1 auto;
  -moz-box-flex: 1 1 auto;
}


#btn-4:hover {
  background: linear-gradient(#FFA80F, #FFEC4B, #FFA80F);
}
